.squares-container {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    height: 768px;
}

.grid-square {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.ui_button {
    margin: 8px;
    padding: 8px;
    font-size: 16px;
    background: peachpuff;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

.shake-effect {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}